<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">


	<global-method-security secured-annotations="enabled">
	</global-method-security>

	<http auto-config="true" >

			<!-- Don't set any role restrictions on login.jsp -->
			<intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY" />
			<intercept-url pattern="/css/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
			<intercept-url pattern="/js/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
			<intercept-url pattern="/img/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
			<intercept-url pattern="/requestNewPass/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
			<intercept-url pattern="/utils/criptPassJboss/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
			
			<!-- Restrict access to ALL other pages -->
			<intercept-url pattern="/home" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/navbar" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/configServer" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/home/showByStatus/**" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/home/startVerification/**" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/findForUpdateUser/**" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/updateUser" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/selectServer" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/listLogFiles/**" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/downloadFile/**" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/verifySingleServer/runSingleVerification" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/updateTimeSelectedClients/**" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/updateTimeAllClients" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/singleServerToVerify/**" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/tailFile/**" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/findInFile/**" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/database/startDataBaseVerification/**" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/database/showByStatus/**" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/charts/servers/consolidated" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/charts/database/consolidated" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/listLocks" access="ROLE_USER,ROLE_ADMIN" />

			<!-- Reports -->
			<intercept-url pattern="/reports/reportFull" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/reports/reportServersOK" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/reports/reportServersNOK" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/reports/reportSOLinux" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/reports/reportSOWindows" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/reports/reportSOUnix" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/reports/reportSOOthers" access="ROLE_USER,ROLE_ADMIN" />
			<intercept-url pattern="/reports/reportDataBaseFull" access="ROLE_USER,ROLE_ADMIN" />

			<!-- Admin Pages -->
			<intercept-url pattern="/updateServer" access="ROLE_ADMIN" />
			<intercept-url pattern="/deleteServerByID" access="ROLE_ADMIN" />
			<intercept-url pattern="/deleteUserByID" access="ROLE_ADMIN" />
			<intercept-url pattern="/findForUpdateServer/**" access="ROLE_ADMIN" />
			<intercept-url pattern="/configClients" access="ROLE_ADMIN" />
			<intercept-url pattern="/configUser" access="ROLE_ADMIN" />
			<intercept-url pattern="/updateConfig" access="ROLE_ADMIN" />
			<intercept-url pattern="/newServer" access="ROLE_ADMIN" />
			<intercept-url pattern="/registerServer" access="ROLE_ADMIN" />
			<intercept-url pattern="/newUser" access="ROLE_ADMIN" />
			<intercept-url pattern="/registerUser" access="ROLE_ADMIN" />
			<intercept-url pattern="/newDataBase" access="ROLE_ADMIN" />
			<intercept-url pattern="/registerDataBase" access="ROLE_ADMIN" />
			<intercept-url pattern="/configDataBases" access="ROLE_ADMIN" />
			<intercept-url pattern="/updateDataBase" access="ROLE_ADMIN" />
			<intercept-url pattern="/findForUpdateDataBase/**" access="ROLE_ADMIN" />
			<intercept-url pattern="/deleteDataBaseByID" access="ROLE_ADMIN" />
			<intercept-url pattern="/deleteLockByID" access="ROLE_ADMIN" />

			<!-- Set the login page and what to do if login fails -->
			<form-login login-page="/login" default-target-url="/home"
				authentication-failure-url="/login?login_error=1" />
			
			<!-- Set defult logout success page -->
			<logout logout-success-url="/login" />
			
	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="md5" />
			<jdbc-user-service data-source-ref="dataSourceJboss"
				users-by-username-query="select username,password,enabled from Users WHERE username=?"
				authorities-by-username-query="select username,authority from Users where username=?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>