<?xml version='1.0' encoding='UTF-8'?>
	<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hrstatus</property>
		<property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<mapping class="br.com.hrstatus.model.BancoDados" />
		<mapping class="br.com.hrstatus.model.Configurations" />
		<mapping class="br.com.hrstatus.model.Lock" />
		<mapping class="br.com.hrstatus.model.PassExpire" />
		<mapping class="br.com.hrstatus.model.Servidores" />
		<mapping class="br.com.hrstatus.model.Users" />
	</session-factory>
</hibernate-configuration>


<!-- 
Remover o newUser do login anonimo
alterar a função get logged username e colocar qualquer coisa para aceitar o login.

desfazer todas as alterações.
 -->